<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<head>
    <meta charset="UTF-8">
    <title>League Analysis</title>
</head>
<body>
<h2>Welcome to League</h2>
<br>
<br>
    
    
            <form type="GET" action="summoner_one">
                    <div class="col-xs-6 form-group">
                        <h1>Team 1</h1>
                        <input type="text" name="summoner_one" id="summoner_one" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_two" id="summoner_two" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_three" id="summoner_three" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_four" id="summoner_four" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_five" id="summoner_five" placeholder="Summoner Name">
                        <br>
                        <br>
                    </div>
                    <div class="col-xs-6 form-group">
                        <h1>Team 2</h1>
                        <input type="text" name="summoner_six" id="summoner_six" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_seven" id="summoner_seven" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_eight" id="summoner_eight" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_nine" id="summoner_nine" placeholder="Summoner Name">
                        <br>
                        <br>
                        <input type="text" name="summoner_ten" id="summoner_ten" placeholder="Summoner Name">
                        <br>
                        <br>
                    </div>
                <input type="submit" name="submit" value="Submit"></center>


            </form>
</body>
</html>