<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League Analysis</title>
</head>
<body>
<h2>Welcome to League</h2>
<br>
<br>
    <li>
    <form type="GET" action="summoner_one">
        <input type="text" name="summoner_one" id="summoner_one" placeholder="Summoner Name">
        <input type="text" name="summoner_two" id="summoner_two" placeholder="Summoner Name">
        <input type="submit" name="delete" value="Submit"></center>


    </form>
    </li>
</body>
</html>